
  <div class="container mb-5 mb-5" >

  <div class="row mt-5">
    <div class="col-md-8 mt-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Contactanos</h5>
            <form action="">
              <label for="" class="control-label">Nombre</label>
              <input type="text" class="form-control">

              <label for="" class="control-label">Correo</label>
              <input type="email" class="form-control">

              <label for="" class="control-label">Mensaje</label>
              <textarea name="name" rows="4" cols="80" class="form-control"></textarea>
            </form>
          <a href="#" class="btn btn-primary mt-3 right">Enviar</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mt-5">
      <div class="card text-center">
        <div class="card-header">
          MiRecoleta
        </div>
        <div class="card-body">
          <h5 class="card-title">Nuestra Vision</h5>
          <p class="card-text">En MiRecoleta queremos que conoscas tu comuna, queremos que sepas donde se encuentran
             esos lugares unicos especiales que hacen de nuestra comuna un lugar unico y especial
             donde vivir</p>

             <h5 class="card-title">Nuestra Mision</h5>
             <p class="card-text">Conectar lugares y negocios con personas, dandote a conocer un mundo de pisivilidades
                que normalmente son poco accesible devido a su falta de publicidad o propaganda</p>
        </div>
        <div class="card-footer text-muted">
          @MiRecoleta
        </div>
      </div>
    </div>
  </div>
</div>
