<div class="container-fluid mt-3">
<div class="row  mb-5 ">
  <div class="mt-1 col-md-9">
    <agm-map [latitude]="lat" [longitude]="lng" >
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>
  <div class="row col-md-3">
    <div class="">
      <a routerLink="/crearnegocio" class="btn btn-primary">Crear Negocio</a>
      <h2>Lugares Cercanos</h2>
      <ul class="list-group">
        <ng-container *ngFor="let lugar of lugares">
        <a routerLink="/detalle/1" [queryParams]="{action:'view'}"><li  class="list-group-item">{{lugar.name}}</li></a>
        </ng-container>
      </ul>
    </div>

    <div class="col-md-4">
      <h2>Destacados</h2>
    </div>
  </div>

<hr />


  </div>
</div>
