<div class="contenedor col-md-12 maps" >
  <!-- [@loadPlaces]="state" -->
  <div class="col-md-12">
    <div class="col-md-12 mt-1">
      <div class="card border-primary">
        <div class="mt-1 mb-1 ml-1 mr-1">
          <agm-map [latitude]="lat" [longitude]="lng" [zoom]="14">
            <agm-marker *ngFor="let lugar of lugares" [latitude]="lugar.lat" [longitude]="lugar.lng" ></agm-marker>
          </agm-map>
        </div>
      </div>
    </div>


    <div class="col-12">
      <div class="row">
        <div class="col-12 col-lg-8 mt-2 mb-5">
          <div class="card border-primary">
            <div class="card-body">
              <div class="row mb-3 align-items-center">
                <div class=" col-12 col-md-4">
                  <h2 class="card-title">Lugares Cercanos</h2>
                </div>

                <div class="col-12 col-lg-4 float-right">
                  <select name="" id="" class="form-control">
                    <option value="">Buscar Por Categoria</option>
                    <option value="comida">Comida</option>
                    <option value="parques">Parques</option>
                    <option value="juegos">Juegos</option>
                    <option value="categoria">transporte</option>
                    <option value="categoria">Servicios</option>
                  </select>
                </div>

                <div class="col-12 col-lg-4" >
                  <a routerLink="/crearnegocio/new" class="btn btn-outline-primary float-right  btn-block">Añadir Nuevo Punto</a>
                </div>
                <div class="alert alert-warning" role="alert" *ngIf="errorText">
                  {{errorText}}
                </div>
              </div>

              <div class="table-responsive">
                <table class="table" >
                  <ng-container *ngFor="let lugar of lugares" >
                    <tr>
                      <td> <a routerLink="/detalle/{{lugar.id}}">{{lugar.name |titlecase}}</a></td>
                      <td><a routerLink="#">{{lugar.calle}}</a></td>
                      <td><a routerLink="#">Añadido: {{lugar.id |date:"dd-MM-yyyy" }}</a></td>
                    </tr>
                  </ng-container>
                </table>
              </div>


            </div><!-- fin cardBody-->
          </div><!--fin card-->
        </div><!--fin col-md-8 que contiene la card-->
        <div class="col-12 col-md-4 mt-2 mb-5">

            <div class="row mb-3 align-items-center">
              <div class="col-12">
                <h2 class="card-title text-center text-muted">Lugares Destacados</h2>
              </div>
              <ng-container *ngFor="let destacado of destacados?.slice().reverse()" class="col-12">
                <div class="alert alert-success col-12" *ngIf="destacado.stars > 5" role="alert" >
                    <a routerLink=""><h4>{{destacado.name}} <span class="badge badge-secondary float-right">{{destacado.stars}} Puntos</span></h4></a>
                    <p [innerHtml]="destacado.description |linkifystr"></p>
                </div>
              </ng-container>
            </div>
        </div>

      </div><!--fin Row principal-->
    </div>
  </div>
</div>
