<div class="container mt-1">

  <agm-map  [latitude]="lugar.lat" [longitude]="lugar.lng" [zoom]="15">
    <agm-marker [latitude]="lugar.lat" [longitude]="lugar.lng"></agm-marker>
  </agm-map>

    <h1 class="text-muted text-center">{{lugar.name |titlecase}}</h1>
    <hr/>

<div class="row mb-1">
  <div class="col-md-6">
    <small>Distancia :  Km</small>
  </div>

  <div class="col-md-6">
    <a routerLink="/crearnegocio/{{lugar.id}}" class="btn btn-outline-info float-right">Editar Registro</a>
  </div>

</div>



    <div class="card">
      <div class="card-body">
        <p [innerHtml]="lugar.description |linkifystr"></p>
      </div>
      <div class="card footer">
        <b>Categoria : {{lugar.category}}</b>
      </div>

    </div>

</div>
