<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Curso Angular 4
  </h1>
  <img width="200" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Ejemplos de Data Binding</h2>
<ul>
  <li>
    <h2>Este es un ejemplo de data binding con  "{{ title }}!"</h2>
    <p>Para este ejemplo el texto {{title}} es una variable enviada desde typescript usando {{title}}</p>
  </li>
  <li>
    <h2>Este es un ejemplo de Data Bindig usando Property Binding</h2>
    <button type="button" name="button" [disabled]="but">Click me!</button>
    <p>Para este ejemplo usamos un boton, el cual pasara de enable a disable usando su propiedad disable desde typescript</p>
    <!-- Para establecer properti binding con angular ponemos nuestra propiedad entre corchetes y le establecemos un valor -->
  </li>
  <li>
    <h2>Este es un ejemplo de Data Bindig con Event Binding</h2>
    <button type="button" name="button" (click)="clickme()">Click me!!</button>
    <p>En este ejemplo como su nombre lo indica quedamos a la espera de que se ejecute el evento click para establecer la comunicacion y traer un alert desde typescript</p>
    <!-- para asignar envent Binding usamos parentesis destro de los cuales de pasamos el evento  y le damos como valor el nombre de la funcion que ejecutara -->
  </li>
  <li>
    <h2>En el ultimo ejemplo usaremos Two Data Binding</h2>

    <input type="text" name="" value="" placeholder="Ingresa tu nombre" [(ngModel)]="name">
    <input type="text" name="" value="" placeholder="Ingresa tu Apellido" [(ngModel)]="lastName">
    <br />
    <h4>Tu Nombre completo es  {{name +' '+ lastName}}</h4>
    <p>Two Data Binding comunica typescript con html y html con tipescript, permtiendonos interactuar en tiempo real cn lo que sucede en nuestro Front End</p>
  </li>
</ul>
