/* You can add global styles to this file, and also import other style files */
agm-map {
height: 30em;

}
.img{
  height: 2.5em;
}
#perfil{
  position: absolute;
  z-index: 100;
}
#login{
  position: absolute;
  z-index: 100;
}

@media screen and (max-width: 600px){
agm-map{
  height: 18em;
}
}

@media screen and (min-width: 1500px){
  .margenes{
    margin-left:45px;
    margin-right: 45px;
  }
}
